/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* { box-sizing: border-box; }

:root {
    --primary-theme-color: #21e6c1;
    --primary-button-color: #0099cc;
    --secondary-button-color: lightslategray;
    --danger-button-color: #ff1616;
}

/* Global styles */

/* a section of the 3 welcome sections */
.section {
    width: 400px;
    min-height: 500px;
    border: 1px solid #12a7b8;
    box-shadow: -5px 8px 0 0 var(--primary-theme-color);
    padding: 1rem;
}

.section-header {
    text-align: center;
    text-transform: capitalize;
}

.primary-button {
    color: var(--primary-button-color);
}

.secondary-button {
    color: var(--secondary-button-color);
}

.danger-button {
    background-color: var(--danger-button-color);
    color: white;
}

.full-width {
    width: 100%;
}

.bitten-tomato-logo-50 {
    width: 50%;
    display: block;
    margin: auto;
}

.bitten-tomato-logo-small {
    width: 85px;
}