<div class="customer-page">
    <mat-drawer-container class="drawer-container" autosize>
        <mat-drawer #drawer class="drawer-sidenav" mode="side">
            <app-my-cart></app-my-cart>
        </mat-drawer>
        
        <!-- content of the page -->
        <div class="page-content">
            <button type="button" matBadge={{customerCurrentCartItems.length}} matBadgePosition="after" matBadgeColor="accent"
                mat-stroked-button class="primary-button" (click)="drawer.toggle()">
                    <mat-icon aria-hidden="false" aria-label="my cart icon">shopping_cart</mat-icon>
            </button>

            <div class="products-section">
                <div class="categories-navbar">
                    <div class="navbar-category">
                        <a class="navbarLink" (click)="sortByAllProducts()">All Products</a>
                    </div>
                    <div class="navbar-category">
                        <a class="navbarLink" (click)="sortByDairyProducts()">Dairy</a>
                    </div>
                    <div class="navbar-category">
                        <a class="navbarLink" (click)="sortByMeatAndFishProducts()">Meat & Fish</a>
                    </div>
                    <div class="navbar-category">
                        <a class="navbarLink" (click)="sortByVeganProducts()">Vegan</a>
                    </div>
                    <div class="navbar-category">
                        <a class="navbarLink" (click)="sortByDrinks()">Drinks</a>
                    </div>
                    <div class="navbar-category">
                        <a class="navbarLink" (click)="sortByHealthProducts()">Health</a>
                    </div>
                    <div class="navbar-category">
                        <mat-form-field class="example-form-field">
                            <mat-label>Search for products</mat-label>
                            <input matInput type="text" [(ngModel)]="searchInputValue">
                            <button mat-button *ngIf="searchInputValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchInputValue=''">
                              <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
                
                <!-- all products section -->
                <div class="all-products-section">
                    <div *ngFor="let product of currentProductsForDisplay|products: searchInputValue.trim()">
                        <app-product [product]="product"></app-product>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-container>
</div>