.drawer-container {
    width: 100%;
    /* height: 1000px; */
    background-color: transparent;
}
  
.page-content {
    height: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}
  
.drawer-sidenav {
    padding: 20px;
    min-width: 200px;
    background: url("../../../assets/cart-background.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.products-section {
    width: 100%;
}

.categories-navbar {
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLink, .navbarLink:visited {
    color: lightslategray;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    cursor: pointer;
    transition: 0.3s ease;
}

.navbarLink:hover {
    color: var(--primary-theme-color);
}

.current-category {
    color: #21e6c1;
}

.all-products-section {
    display: flex;
    flex-wrap: wrap;
}

.no-products-section {
    padding: 3rem;
}

.no-products-text-image {
    width: 650px;
}

.thor-no-products-image {
    position: fixed;
    bottom: 0;
}