.credentials-section {
    display: flex;
    flex-direction: column;
    height: 70%;
}

.panel-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.registration-fields-section {
    flex-direction: column;
}

.danger {
    color: red;
}

button {
    margin-bottom: 1rem;
}