<div class="section">
    <h2 class="section-header">Register</h2>

    <div class="credentials-section">
        <form #registrationForm="ngForm" [formGroup]="registrationValues">
            <div class="panel-section registration-fields-section">

                <!-- ID input -->
                <mat-form-field>
                    <mat-label>ID</mat-label>
                    <input [formControl]="IDInput" name="IDInput" matInput type="number" required>

                    <mat-error *ngIf="IDInput.errors?.required">
                        ID is <strong>required</strong>
                    </mat-error>

                    <mat-error *ngIf="IDInput.errors?.pattern">
                        ID should be <strong>9 digits</strong>
                    </mat-error>
                </mat-form-field>

                <!-- email input -->
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input [formControl]="emailInput" name="emailInput" matInput type="email"
                        placeholder="bittenTomato@gmail.com" required>

                    <mat-error *ngIf="emailInput.errors?.required">
                        Email is <strong>required</strong>
                    </mat-error>

                    <mat-error *ngIf="emailInput.errors?.pattern">
                        Email format should be <strong>John@doe.com</strong> or <strong>John@doe</strong>
                    </mat-error>

                    <mat-error *ngIf="emailInput.errors?.maxlength">
                        Email can be a maximum of <strong>35 characters</strong>
                    </mat-error>
                </mat-form-field>

                <!-- password input -->
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input [formControl]="passwordInput" name="passwordInput" matInput type="password" required>

                    <mat-error *ngIf="passwordInput.errors?.required">
                        Password is <strong>required</strong>
                    </mat-error>

                    <mat-error *ngIf="passwordInput.errors?.pattern">
                        Should be <strong>6-15 chars</strong> & contain <strong>At least one letter</strong> & <strong>one number</strong>
                    </mat-error>
                </mat-form-field>

                <!-- varify password input -->
                <mat-form-field>
                    <mat-label>Verify Password</mat-label>
                    <input [formControl]="verifiedPasswordInput" name="verifiedPasswordInput" matInput type="password" required>
                    
                    <mat-error *ngIf="verifiedPasswordInput.errors?.required">
                        Password verification is <strong>required</strong>
                    </mat-error>

                    <mat-label class="danger" *ngIf="verifiedPasswordInput.value !== passwordInput.value">
                        - Passwords <strong>must match</strong>
                    </mat-label>
                </mat-form-field>

                <!-- first name input -->
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input [formControl]="firstNameInput" name="firstNameInput" matInput type="text" required>

                    <mat-error *ngIf="firstNameInput.errors?.required">
                        First name is <strong>required</strong>
                    </mat-error>

                    <mat-error *ngIf="firstNameInput.errors?.minlength || firstNameInput.errors?.maxlength">
                        First name should be <strong>2 - 15 chars</strong>
                    </mat-error>
                </mat-form-field>

                <!-- last name input -->
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input [formControl]="lastNameInput" matInput type="text" required>

                    <mat-error *ngIf="lastNameInput.errors?.required">
                        First name is <strong>required</strong>
                    </mat-error>

                    <mat-error *ngIf="lastNameInput.errors?.minlength || lastNameInput.errors?.maxlength">
                        Last name should be <strong>2 - 15 chars</strong>
                    </mat-error>
                </mat-form-field>

                <!-- city input -->
                <mat-form-field>
                    <mat-label>City</mat-label>
                    <input [formControl]="cityInput" matInput type="text" required>

                    <mat-error *ngIf="cityInput.errors?.required">
                        City name is <strong>required</strong>
                    </mat-error>

                    <mat-error *ngIf="cityInput.errors?.minlength || cityInput.errors?.maxlength">
                        City name should be <strong>2 - 15 chars</strong>
                    </mat-error>
                </mat-form-field>

                <!-- street input -->
                <mat-form-field>
                    <mat-label>Street</mat-label>
                    <input [formControl]="streetInput" matInput type="text" required>

                    <mat-error *ngIf="streetInput.errors?.required">
                        Street name is <strong>required</strong>
                    </mat-error>

                    <mat-error *ngIf="streetInput.errors?.minlength || cityInput.errors?.maxlength">
                        Street name should be <strong>2 - 15 chars</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </form>

        <!-- login button -->
        <button mat-stroked-button class="primary-button full-width" [disabled]="registrationForm.form.invalid || (passwordInput.value !== verifiedPasswordInput.value)" (click)="register()">Done</button>
    </div>

    <p>Already registered ?</p>
    <!-- registration button -->
    <button routerLink="/welcome/login" mat-stroked-button class="secondary-button full-width">Login</button>

</div> 