.cart-header {
    font-weight: 300;
    font-size: 24px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.remove-cart-item-button {
    font-size: 22px;
    color: #607d8b;
    cursor: pointer;
}

.remove-all-cart-items-button {
    color: rgba(255, 0, 0, 0.712);
    cursor: pointer;
}

.cart-product-text, .cart-item-total-price-text {
    margin-right: 10px;
}

.border-div {
    flex: 1;
    min-width: 10px;
    border-bottom: 1px solid rgb(0, 225, 255);
    margin-right: 10px;
}

.empty-cart-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-cart-text {
    color: lightslategray;
}

.empty-cart-icon {
    width: 45px;
}

.green-text {
    color: green;
}