.login-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.credentials-section {
    display: flex;
    flex-direction: column;
    height: 70%;
}

.panel-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.login-fields-section {
    flex-direction: column;
}

button {
    margin-bottom: 1rem;
}