<div class="section">
    <h2 class="section-header">Nice To Know</h2>

    <h3 class="sharp">We Have {{totalProductsAmount}} Items Available.</h3>
    <h3 class="sharp">So Far, {{totalOrdersAmount}} Customers Have Enjoyed Buying At Bitten Tomato's.</h3>

    <div *ngIf="customerLastOrderDate !== undefined ">
        <p class="green-info-text">{{customerLastOrderDate}}</p>
    </div>

    <div *ngIf="userService.isUserLoggedIn">
        <p *ngIf="currentCartCreationDate !== null" class="green-info-text">You have an open cart from {{currentCartCreationDate}}</p>
        <ng-template #noOpenCartText>
            <p class="green-info-text">You don't have an open cart</p>
        </ng-template>
    </div>
</div>