<div class="login-section">
    <button mat-stroked-button class="primary-button start-shopping-button">Start Shopping</button>
    
    <div class="credentials-section">
        <div class="panel-section login-fields-section">
            <!-- email input -->
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="bittenTomato@gmail.com" value="">
            </mat-form-field>
    
            <!-- password input -->
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput value="">
            </mat-form-field>
        </div>

        <div class="panel-section">
            <!-- login button -->
            <button mat-stroked-button class="primary-button">Login</button>
    
            <!-- registration button -->
            <button mat-stroked-button class="secondary-button">Register</button>
        </div>
    </div>
</div>