.login-section {
    width: 20%;
    height: 60%;
    border: 1px solid #e2f3f5;
    box-shadow: -5px 8px 0 0 #e2f3f5;
    padding: 1rem;
}

.credentials-section {
    display: flex;
    flex-direction: column;
    height: 70%;
}

.panel-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.login-fields-section {
    flex-direction: column;
}

.start-shopping-button {
    display: block;
    width: 100%;
    margin: auto;
}