.page-not-found {
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    display: flex;
    background-image: url("../../../assets/cap-not-found-fog.jpg");
    background-size: auto;
    background-position: bottom;
    opacity: .6;
    -webkit-animation: shift 4s linear infinite;
    animation: shift 4s linear infinite;
}

.error-image-animated {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-image: url("../../../assets/hydra-1.png"),url("../../../assets/hydra-2.png"),url("../../../assets/hydra-3.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    pointer-events: none;
    opacity: .5;
    -webkit-animation: glitch .5s linear infinite;
    animation: glitch .5s linear infinite;
}

.cap-image {
    width: 620px;
    height: 600px;
    background-image: url("../../../assets/cap-not-found.png");
    background-repeat: no-repeat;
}

.page-not-found-text {
    padding: 3rem;
}

.page-not-found-text h1 {
    font-size: 2rem;
}

.page-not-found-text h2 {
    font-size: 1.3rem;
}

@keyframes glitch {
    0% {
        background-position: 50%,50%,50%;
    }
    
    25% {
        background-position: 50%,-5px 2px,4px 5px;
    }
    50% {
        background-position: 50%,2px 6px,-1px -1px;
    }
    75% {
        background-position: 50%,-2px 4px,4px 8px;
    }
    100% {
        background-position: 50%,3px 7px,-3px 0;
    }
}