.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 150px;
}

.product-image {
    width: 150px;
    height: 161px;
    padding-bottom: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}

.bottom-border-div {
    width: 100%;
    border-bottom: 1px solid rgb(158 158 158 / 32%);
}

.product-image:hover {
    transform: scale(1.1);
}

.product-name, .product-category, .product-price {
    align-self: flex-start;
    margin: 5px;
    color: var(--primary-button-color);
}