<div class="product-card">
    <img *ngIf="isEditableByAdmin; else notEditableByAdmin" (click)=[editItem()] class="product-image" src={{product.imageURL}} alt={{product.name}}>
    <ng-template #notEditableByAdmin>
        <img (click)=[showProductModal()] class="product-image" src={{product.imageURL}} alt={{product.name}}>
    </ng-template>
    <div class="bottom-border-div"></div>
    <p class="product-name">{{product.name}}</p>
    <p class="product-category">{{product.category}}</p>
    <p class="product-price">{{product.price}} $</p>
</div>