<div class="admin-section">
    <mat-drawer-container class="drawer-container" autosize>
        <mat-drawer #drawer class="admin-sidebar" mode="side">
            <admin-sidebar></admin-sidebar>
        </mat-drawer>

        <div class="page-content">
            <button type="button" mat-stroked-button class="primary-button" (click)="drawer.toggle()">
                <mat-icon aria-hidden="false" aria-label="my cart icon">create</mat-icon>
            </button>

            <div class="products-section">
                <!-- search field section-->
                <div class="search-field-section">
                    <h2 class="sharp admin-section-header green-text">Pick a product in order to edit it</h2>
                    <mat-form-field>
                        <mat-label>Search for products</mat-label>
                        <input matInput type="text" [(ngModel)]="searchInputValue">
                        <button mat-button *ngIf="searchInputValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchInputValue=''">
                          <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>

                <!-- all products section -->
                <div class="all-products-section">
                    <div (click)="onAddNewProductClick()" class="add-items-section">
                        <div class="add-items-button"></div>
                    </div>

                    <div *ngFor="let product of allProducts| products: searchInputValue">
                        <app-product [product]="product" [isEditableByAdmin]="true"></app-product>
                    </div>
                </div>
            </div>

        </div>
    </mat-drawer-container>
</div>